*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    
}

body{
    background-color: #e9eeff;
}

header{
    background-image: linear-gradient(to right, #84ceeb 0%, #59b9ea 51%, #84ceeb 100%);
    color: white;
    padding: 25px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compte{
    margin-left: auto;
}

.compte input {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
  }

h1{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    width: 90%;
    position: relative;
    margin: auto;
}

.leftContainer{
    width: 35%;
    margin-right: 4em;
}

#QBtns{
    display: flex;
    justify-content: space-evenly;
}

#questionEntry{
    padding: 0.8em;
    padding-top: 0.2em;
    border: 2px solid #59b9ea;
    border-radius: 20px;
    margin-top: 1.5em;
    background-color: #f0f5ff;
}

#writeHeader{
    display: flex;
    padding: 0.4em; 
}

span{
    margin-right: 0.4em;
    font-size: 1.4em;
    font-weight: bold;
}

#subjectTA{
    resize: none;
    padding: 0.3em !important;
    border-radius: 10px;
    border: 1px solid;
    width: calc(100% - 80px);
}

#categorySelected{
    padding: 0.3em;
    border-radius: 10px;
    border: 1px solid;
    font-size: 1em;
    margin: 5px auto;
}

#TextAreaQuestion{
    width: 100%;
    height: 20em;
    resize: none;
    padding: 0.3em !important;
    border-radius: 10px;
    margin-top: 0.4em;
}

#unvalidated_container{
    padding: 1em;
    border: 2px solid #59b9ea;
    border-radius: 20px;
    background-color: #f0f5ff;
    height: fit-content;
}

#unvalidatedHeader{
    margin: 10px;
    margin-bottom: 1em;
    color: #31a4de;
}

.unvalidatedQ{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid #31a4de;
    border-radius: 20px;
    background-color: #79c6ee;
}

.unvalidatedTitle{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

.unvalidatedTitle:hover{
    color: #31a4de;
}

#questions_container{
    width: 60%;
    margin-left: 1.5em;
}

#searchDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBarDiv{
    width: 100%;
    display: flex;
}

#searchBarDiv span{
    margin: 30px 5px;
}

#searchBarDiv form{
    width: calc(100% - 130px);
    display: flex;
}

#searchBar{
    border-radius: 10px;
    height: 2.5em;
    width: 100%;
}

#searchSend{
    font-size: 1.4em;
    background-color: #e9eeff;
    border: none;
    margin: 0em 0.4em;
}

.btn{
    background-image: linear-gradient(to right, #84ceeb 0%, #59b9ea  51%, #84ceeb  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    display: block;
    border: 1px #fff solid;
    cursor: pointer;
    border-radius: 10px;
}

#filterBtn{
    margin-right: 0px;
    margin-left: 0px;
}

#filterDiv{
    padding: 1em;
    border: 2px solid #59b9ea;
    border-radius: 20px;
    background-color: white;
}

#filterDiv form{
    margin: 0px;
}

#allCategories{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.checkboxdiv{
    padding: 0.5em;
    display: flex;
    flex-basis: 32%;
}

.checkboxdiv label{
    padding-left: 0.1em;
}

#filter_buttons{
    display: flex;
    justify-content: flex-end;
}

.questionBG{
    background-color: #59b9ea;
    border-radius: 20px;
}

.question{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 1em;
    border: 2px solid #59b9ea;
    border-radius: 20px;
    background-color: #f0f5ff;
    transition: ease 0.1s;
}

.question:hover{
    transform: translateX(-10px) translateY(-10px);
    transition: ease 0.1s;
}

.questionTitle{
    text-decoration: none;
    color:black;
    font-size: 1.4em;
    font-weight: bold;
    align-items: center;
}

.questionTitle:hover{
    color:#59b9ea;
}

.like {
    background: none;
    border: none;
    color: rgb(196, 196, 196);
    cursor: pointer;
    padding: 0;
    font-size: 2em;
    margin: 0;
    margin-right: 0.3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

.like:hover{
    background-position: right center; /* change the direction of the change here */
    color: #e94848;
    text-decoration: none;
}

@media (min-width: 950px) and (max-width: 1100px){
    #searchDiv{
        display: inline;
    }

    #QBtns{
        display: inline;
    }
}

@media (min-width: 700px) and (max-width: 950px) {
    #content{
        display: inline-block;
        width: 100%;
    }


    .leftContainer, #questions_container{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5em;
    }
}

@media (max-width: 700px) {
    #content{
        display: inline-block;
        width: 100%;
    }


    .leftContainer, #questions_container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5em;
    }

    #searchDiv{
        display: inline;
    }

}

@media (max-width: 500px) {
    #filter_buttons{
        display: inline;
    }
}