
h1{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 0.4em;
}

.principal {
    position: relative;
    /* min-width: 32rem; */
    margin: 0 auto;
    width: 90%;
    /* max-width: 126rem; */
    padding-top: 50px;
    display: flex;
}

.container_question {
    width: 35%;
    margin-right: 4em;
    /* position: fixed; */
}


.container_response {
    width: 60%;
    /* margin-left: 45%; */
}

p {
    margin-top: 0;
    line-height: 1.5;
}

.haut_qst , .titre_sujet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.haut_qst_modif .titre_sujet{
    justify-content: initial;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.haut_qst, .texte_answer{
    border-bottom: 1px solid #59b9ea;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

.titre_sujet{
    font-size: 1.4em;
}

.titre_sujet h4{
    padding-right: 0.3em;
    padding-left: 0.3em;
    border-right: 2px solid black;
    margin-right: 0.5em;
}

.label_answer h4{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1.3em;
}

.question, .response, .question_modif, .response_write{
    padding: 0.5em;
    padding-top: 0;
    border: 2px solid #59b9ea;
    border-radius: 20px;
    margin-top: 1.5em;
    background-color: #f0f5ff;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}

.response_write{
    margin-top: 0;
}

.corps, .shorttext {
    width: 100%; /* La textarea occupe toute la largeur de son conteneur */
    height: 20em; /* La textarea occupe toute la hauteur de son conteneur */
    resize: none; /* Empêche le redimensionnement de la textarea par l'utilisateur */
    padding: 0.3em !important;
    border-radius: 10px;
}

.titre_modif {
    width: 20em;
    margin-top: 0.5em !important;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding: 0.2em;
    border-radius: 10px;
    border: 1px solid;
}

.question:hover, .response:hover{
    transform: translateX(-20px) translateY(-20px);
    transition: ease 0.1s;
}

.background{
    background-color: #59b9ea;
    border-radius: 20px;
}

.question{
    margin-top: 0em;
    transition: ease 0.1s;
}

.response{
    transition: ease 0.1s;
}

.texte_qst{
    padding: 0.5em;
}

.haut_qst input{
    margin: 0.3em;
    margin-top: 0;
    margin-right: 0.5em;
    padding: 0.2em;
}

.qst_button, .btn_for_answer{
    display: flex;
    align-items: center;
}

.qst_button input{
    padding: 0.2em;
    margin: 0.5em;
}

.btn_write input{
    margin: 0.3em;
    margin-top: 1.5em;
    margin-right: 0.5em;
    margin-left: 1em;
    padding: 0.2em;
    font-size: large;
}
  

         
.btn_write input,  .qst_button input, .haut_qst input, .form_write_answer input:not(.longtext), .file_qst input{
    background-image: linear-gradient(to right, #84ceeb 0%, #59b9ea  51%, #84ceeb  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: 1px #fff solid;
    cursor: pointer;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}

.btn_write input:hover,  .qst_button input:hover, .haut_qst input:hover, .form_write_answer input:not(.longtext):hover, .file_qst input:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.longtext{
    padding : 0.5em;
    font-size: 1.1em;
}


.btn_like input {
    background: none;
    border: none;
    color: rgb(196, 196, 196);
    cursor: pointer;
    padding: 0;
    font-size: 2em;
    margin: 0;
    margin-right: 0.3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

.btn_like input:hover{
    background-position: right center; /* change the direction of the change here */
    color: #e94848;
    text-decoration: none;
}

  

@media (min-width: 950px) and (max-width: 1200px){
    .qst_button, .titre_sujet{
        display: inline-block;
    }

    .titre_sujet h4{
        border: none;
    }
}

@media (min-width: 600px) and (max-width: 950px) {
    .principal{
        display: inline-block;
        width: 100%;
    }


    .container_question, .container_response{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5em;
    }
}

@media (max-width: 600px) {
    .principal{
        display: inline-block;
        width: 100%;
    }


    .container_question, .container_response{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5em;
    }

    .qst_button, .titre_sujet{
        display: inline-block;
    }

    .titre_sujet h4{
        border: none;
    }

    .qst_button, .btn_for_answer {
        display: inline-block;
    }

    .longtext{
        width: 100%;
    }
}


.testcolor{
    color: #5680e9;
    color: #84ceeb;
    color: #59b9ea;
    color: #C1C8E4;
    color: #8860D0;
}

#unlike{
    background: none;
    border: none;
    color: rgb(196, 196, 196);
    cursor: pointer;
    padding: 0;
    font-size: 2em;
    margin: 0;
    margin-right: 0.3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

#like{
    background: none;
    border: none;
    color: #e94848;
    cursor: pointer;
    padding: 0;
    font-size: 2em;
    margin: 0;
    margin-right: 0.3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: none;

}

#like:hover{
    color:rgb(196, 196, 196);
}

#unlike:hover{
    color:#e94848;
}